@import './helpers/helpers';


html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(20, 19, 19, 0.795);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}